# April 9, 2025

# Swapping variables

In [10]:
x, y = 10, 20
# x, y = y, x         # x has become y, and y has become x. The order matters.
print( 'x =', x)      # the new x is y
print( 'y =', y)      # the new y is x
t = y, x
print(t)              # using a temporary variable

x = 10
y = 20
(20, 10)

# Updating variables

In [13]:
current_age = 32
print("{}".format(current_age))
new_age = current_age + 5
print("{}".format(new_age))

32
37

# Basic variable assignment and output

In [16]:
name = "Kevin"
age = 32
print('Hello, my name is {} and I am {} years old.'.format(name, age))

Hello, my name is Kevin and I am 32 years old.

# Variable types

In [6]:
greeting = "What up?"
year_born = 2002
height_in_meters = 177.0
is_student = True
print( type(greeting))
print( type(year_born))
print( type(height_in_meters))
print( type(is_student))
print("{}? I was born in {}, and I am {} cm tall. Also, it's {} that Kevin is a student.".format(greeting, year_born, height_in_meters, is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
What up?? I was born in 2002, and I am 177.0 cm tall. Also, it's True that Kevin is a student.

# Variable naming and arithmatic operation

In [2]:
price_apple = 0.50
num_apples = 50
total_cost = price_apple * num_apples
print("The total cost for {} apples is {} dollars.".format(num_apples, total_cost))

The total cost for 50 apples is 25.0 dollars.