# Comments & Basic Data Types

In [1]:
# this is a comment 1

In [2]:
print("Hello")   # this is also a comment

Hello

In [3]:
"""
        This is a multi-Line comment
"""
print("Hello")    # this is also a comment

Hello

In [4]:
# the following are all integers
print(2)
print(10)

2
10

In [5]:
# the following are all floats
print(10.953)
print(8.0)           # even this number is a float

10.953
8.0

In [6]:
# the following are booleans
print(True)
print(False)

True
False

In [7]:
print(true)
print(false)

NameError: name 'true' is not defined

In [8]:
# the following are strings
print(" ")
print("There's a snake in my boot!")
print('True')

There's a snake in my boot!
True

In [9]:
print("True")

True

In [10]:
print('true')

true

In [11]:
print('Kevin Kim')

Kevin Kim

In [12]:
type(int) # will output <class 'int'>

type

In [1]:
Sport = 'baseball'
print(sport)

NameError: name 'sport' is not defined

In [2]:
sport = 'baseball'
print(sport)

baseball

In [3]:
num1 = 5
num2 = 8.5
print(num1,num2)

5 8.5

In [4]:
# storing a boolean into a variable
switch = True
print(switch)

True

In [5]:
# storing strings into a variable
name = 'John Smith'
fav_number = '9' 
print(name, fav_number)

John Smith 9

In [6]:
# using two variables to create another variable (previously stored)
result = num1 + num2
print(result)

13.5

In [7]:
# adding, deleting, multiplying, dividing from a variable
result += 1
print(result)
result *= num1
print(result)

14.5
72.5

In [8]:
# defining a vatiable and overwriting its value
name = 'John'
print(name)

John

In [9]:
name = 'Sam'
print(name)

Sam

In [10]:
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [11]:
x = 3
y = 10
result = x *= y
print(result)

SyntaxError: invalid syntax (144535080.py, line 3)

In [12]:
x = 3
y = 10
result = x * y
print(result)

30

In [13]:
result2 = x + y
print(result2)

13

In [14]:
x = 245.54
y = 13.66
result = x * y
print(result)

3354.0764

# Working with Strings

In [15]:
# using the addition operator without variables
name = 'John' + ' ' + 'Smith'
print(name)

John Smith

In [16]:
# using the addition operator with variables
first_name = 'John'
last_name = 'Smith'
full_name = first_name + ' ' + last_name
print(full_name)

John Smith

In [17]:
# injecting variables using the format method
name = 'John'
print( 'Hello { }'.format(name) )
print( 'Hello { }, you are { } years old!'.format(name,28) )

KeyError: ' '

In [18]:
# 2nd attempt
name = 'John'
print( 'Hello { }'.format(name) )
print( 'Hello { }, you are { } years old!'.format(name,28) )

KeyError: ' '

In [19]:
# 3rd attempt
name = 'John'
print( "Hello { }".format(name) )
print( "Hello { }, you are { } years old!".format(name,28) )

KeyError: ' '

In [20]:
# 4th attempt
name = "John"
print( "Hello { }".format(name) )
print( "Hello { }, you are { } years old!".format(name,28) )

KeyError: ' '

In [21]:
# 5th attempt
name = 'John'
print( 'Hello { }'.format(name) )
print( 'Hello { }, you are { } years old!'.format(name, 28) )

KeyError: ' '

In [22]:
# 6th attempt
name = 'John'
print('Hello { }'.format(name))
print('Hello { }, you are { } years old!'.format(name, 28))

KeyError: ' '

In [23]:
# 7th attempt
name = 'John'
print( 'Hello { }' .format(name) )
print( 'Hello { }, you are { } years old!' .format(name, 28) )

KeyError: ' '

In [24]:
# 8th attempt
name = "John"
print( "Hello { }".format(name) )
print( "Hello { }, you are { } years old!".format(name, 28) )

KeyError: ' '

In [25]:
 # 9th attempt
name = "John"
print( "Hello { }".format(name) )

KeyError: ' '

In [26]:
# 10th attempt
name = "John"
print("Hello { }, you are { } years old!".format(name, 28))

KeyError: ' '

In [27]:
# using the new f strings
name = "John"
print( f"Hello {name}" )

Hello John

In [28]:
name = "John"
print( "Hello { }".format{name} )

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3786182509.py, line 2)

In [29]:
name = "John"
print( "Hello { }".format(name) )

KeyError: ' '

In [30]:
name = "John"
print( "Hello { }".format(name) ).get()

KeyError: ' '

In [31]:
name = "John"
print( "Hello {}".format(name) )

Hello John

## do not put a space in curly brackets when using .format()

In [32]:
name = "John"
print( "Hello {}".format(name) )
print( "Hello {}, you are {} yrs old".format(name, 28) )

Hello John
Hello John, you are 28 yrs old

In [33]:
# using indexes to print each element
word = 'Hello'
print( word[ 0 ] )
print( word[ 1 ] )
print( word[ -1 ] )

H
e
o

In [34]:
word = 'Kevin Kim'
print( word[ 0 ] )
print( word[ 1 ] )
print( word[ -1 ] )

K
e
m

In [35]:
word = 'Kevin Kim'
print( word[ 0 ] )
print( word[ 1 ] )
print( word[ -2 ] )

K
e
i

In [36]:
word = 'Kevin Kim'
print( word[ 0 ] )
print( word[ 1 ] )
print( word[ -9 ] )

K
e
K

### When using the negative number, the start is from the back of the word with the first alphabet, in which case it is "m" from "Kevin Kim".

# Slicing

In [37]:
word = 'Hello'
print( word[ 0 : 2 ] )

He

In [38]:
print( word[ 0 : 5 : 2 ] )

Hlo

In [39]:
print( word[ 0 : 4 : 2 ] )

Hl

### For a quickie: variable_name[ start : stop : step ]. Will go over in detail.

In [40]:
print( "{}{}{}{}".format(23, 4.5, False, John) )

NameError: name 'John' is not defined

In [41]:
name = 'John'
print( "{}{}{}{}".format(23, 4.5, False, name) )

234.5FalseJohn

In [42]:
name = 'John'
print( "{} {} {} {}".format(23, 4.5, False, name) )

23 4.5 False John

In [43]:
name = 'John'
print( f"{23} {4.5} {False} {name}" )

23 4.5 False John

In [44]:
name1 = 'Kevin'
name2 = 'swimming'
name3 = 'C++'
print( "{}'s favorite sport is {}.".format(name1, name2) )
print( "{} is working on {} programming.".format(name1, name3) )

Kevin's favorite sport is swimming.
Kevin is working on C++ programming.

## String Manipulation

In [1]:
# using the title method to capitalize a string
name = 'john smith'
print( name.title() )

John Smith

In [2]:
name = 'john smith'
print( name.upper() )

JOHN SMITH

In [3]:
name = 'John smith'
print( name.lower() )

john smith

In [4]:
# replacing an exclamation point with a period
words = 'Hello there!'
print( words.replace( "!", "." ) )

Hello there.

In [7]:
words = 'Hello there!'
words = words.replace('!','.')

In [8]:
# finding the starting index of our searched term
s = 'Look over that way'
print( s.find('over') )

5

In [9]:
# removing white space with strip
name = "   John   "
print( name.strip() )

John

In [10]:
name = "   John   "
print( name.lstrip() )

John

In [11]:
name = "   John   "
print( name.rstrip() )

   John

In [12]:
name = "   John   the boy"
print( name.rstrip() )

   John   the boy

In [13]:
name = "   John   the boy"
print( name.lstrip() )

John   the boy

In [14]:
name = "   John   the boy"
print( name.strip() )

John   the boy

In [15]:
# converting a string into a list of words
s = 'These words are separated by spaces'
print( s.split(' ') )

['These', 'words', 'are', 'separated', 'by', 'spaces']

### Exercise

In [16]:
word = "uppercase"
print( word.upper() )

UPPERCASE

In [17]:
word = '$$John Smith"
print( word.strip($$) )

SyntaxError: unterminated string literal (detected at line 1) (3939259284.py, line 1)

In [18]:
word = '$$John Smith'
print( word.strip($$) )

SyntaxError: invalid syntax (981322411.py, line 2)

In [19]:
word = '$$John Smith'
print( word.lstrip($$) )

SyntaxError: invalid syntax (68193794.py, line 2)

In [20]:
word = '$$John Smith'
print( word.lstrip( ) )

$$John Smith

In [21]:
word = '$$John Smith'
print( word.rstrip( ) )

$$John Smith

In [22]:
word = '$$John Smith'
print( word.lstrip($) )

SyntaxError: invalid syntax (1156764585.py, line 2)

In [23]:
help(" ".strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [24]:
word = '$$John Smith'
print( word.lstrip($$) )

SyntaxError: invalid syntax (68193794.py, line 2)

In [25]:
word = '$$John Smith'
print( word.lstrip('$$') )

John Smith

In [26]:
word = '$$John Smith'
print( word.lstrip('$') )

John Smith

In [27]:
word = '$$John Smith'
print( word.rstrip('$$') )

$$John Smith

# Friday Project: Printing Receipts

In [30]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

In [31]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

**************************************************

In [33]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA

In [34]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================

In [35]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price

In [36]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer		$579.99
	Monitor		$124.89

In [37]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89

In [38]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer		$579.99
	Monitor		$124.89

In [39]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89

In [40]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

# print a line between sections
print('=' * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================

In [41]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

# print a line between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total

In [42]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

# print a line between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '\t\t\t${}'.format(total) )

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83

In [43]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

# print a line between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '\t\t\t${}'.format(total) )

# print a line between sections
print( '=' * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

In [44]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

# print a line between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '\t\t\t${}'.format(total) )

# print a line between sections
print( '=' * 50)

# output thank you message
print( 'n\t{}\n'.format(message) )

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================
n	Thanks for shopping with us today!

In [45]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

# print a line between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '\t\t\t${}'.format(total) )

# print a line between sections
print( '=' * 50)

# output thank you message
print( '\n\t{}\n'.format(message) )

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

In [46]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '\t\t{}'.format( company_name.title() ) )
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

# print a line between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '\t\t\t${}'.format(total) )

# print a line between sections
print( '=' * 50)

# output thank you message
print( '\n\t{}\n'.format(message) )

# create a bottom border
print('*' * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************

In [47]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 52)

# print company information first, using format
print( '*','\t\t{}'.format( company_name.title() )'*')
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

# print a line between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '\t\t\t${}'.format(total) )

# print a line between sections
print( '=' * 50)

# output thank you message
print( '\n\t{}\n'.format(message) )

# create a bottom border
print('*' * 52)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2632175409.py, line 18)

In [48]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 52)

# print company information first, using format
print( '*','\t\t{}'.format( company_name.title() ),'*')
print( '\t\t{}'.format(company_address) )
print( '\t\t{}'.format(company_city) )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('\tProduct Name\tProduct Price')

# create a print statement for each product
print( '\t{}\t\t${}'.format(p1_name.title(), p1_price) )
print( '\t{}\t${}'.format(p2_name.title(), p2_price) )
print( '\t{}\t\t${}'.format(p3_name.title(), p3_price) )

# print a line between sections
print('=' * 50)

# print out header for section of total
print('\t\t\tTotal')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '\t\t\t${}'.format(total) )

# print a line between sections
print( '=' * 50)

# output thank you message
print( '\n\t{}\n'.format(message) )

# create a bottom border
print('*' * 52)

****************************************************
* 		Coding Temple, Inc. *
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

****************************************************

In [49]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 52)

# print company information first, using format
print( '*','\t\t{}'.format( company_name.title() ),'*')
print( '*','\t\t{}'.format(company_address),'*' )
print( '*','\t\t{}'.format(company_city),'*' )

# print a line between sections
print( '*','=' * 50,'*' )

# print out header for section of items
print('\tProduct Name\tProduct Price','*')

# create a print statement for each product
print( '*','\t{}\t\t${}'.format(p1_name.title(), p1_price),'*' )
print( '*','\t{}\t${}'.format(p2_name.title(), p2_price),'*' )
print( '*','\t{}\t\t${}'.format(p3_name.title(), p3_price),'*' )

# print a line between sections
print('*','=' * 50,'*')

# print out header for section of total
print('*','\t\t\tTotal','*')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '*','\t\t\t${}'.format(total),'*' )

# print a line between sections
print( '*','=' * 50,'*')

# output thank you message
print( '*','\n\t{}\n'.format(message),'*' )

# create a bottom border
print('*' * 52)

****************************************************
* 		Coding Temple, Inc. *
* 		283 Franklin St. *
* 		Boston, MA *
* ================================================== *
	Product Name	Product Price *
* 	Books		$49.95 *
* 	Computer	$579.99 *
* 	Monitor		$124.89 *
* ================================================== *
* 			Total *
* 			$754.83 *
* ================================================== *
*
	Thanks for shopping with us today!
 *
****************************************************

In [50]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 52)

# print company information first, using format
print( '*','\t\t{}'.format( company_name.title() ),'\t\t*')
print( '*','\t\t{}'.format(company_address),'\t\t*' )
print( '*','\t\t{}'.format(company_city),'\t\t*' )

# print a line between sections
print( '*','=' * 50,'*' )

# print out header for section of items
print('*','\tProduct Name\tProduct Price','\t\t*')

# create a print statement for each product
print( '*','\t{}\t\t${}'.format(p1_name.title(), p1_price),'\t\t\t*' )
print( '*','\t{}\t${}'.format(p2_name.title(), p2_price),'\t\t*' )
print( '*','\t{}\t\t${}'.format(p3_name.title(), p3_price),'\t\t\t*' )

# print a line between sections
print('*','=' * 50,'*')

# print out header for section of total
print('*','\t\t\tTotal','\t\t\t*')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '*','\t\t\t${}'.format(total),'\t\t\t*' )

# print a line between sections
print( '*','=' * 50,'*')

# output thank you message
print( '*','\n*\t{}\n*'.format(message),'*' )

# create a bottom border
print('*' * 52)

****************************************************
* 		Coding Temple, Inc. 		*
* 		283 Franklin St. 		*
* 		Boston, MA 		*
* ================================================== *
* 	Product Name	Product Price 		*
* 	Books		$49.95 			*
* 	Computer	$579.99 		*
* 	Monitor		$124.89 			*
* ================================================== *
* 			Total 			*
* 			$754.83 			*
* ================================================== *
*
*	Thanks for shopping with us today!
* *
****************************************************

In [51]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 50)

# print company information first, using format
print( '*','\t\t{}'.format( company_name.title() ),'\t\t*')
print( '*','\t\t{}'.format(company_address),'\t\t*' )
print( '*','\t\t{}'.format(company_city),'\t\t\t*' )

# print a line between sections
print( '=' * 50 )

# print out header for section of items
print('*','\tProduct Name\tProduct Price','\t\t*')

# create a print statement for each product
print( '*','\t{}\t\t${}'.format(p1_name.title(), p1_price),'\t\t\t*' )
print( '*','\t{}\t${}'.format(p2_name.title(), p2_price),'\t\t*' )
print( '*','\t{}\t\t${}'.format(p3_name.title(), p3_price),'\t\t*' )

# print a line between sections
print('=' * 50)

# print out header for section of total
print('*','\t\t\tTotal','\t\t\t*')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '*','\t\t\t${}'.format(total),'\t\t*' )

# print a line between sections
print( '=' * 50 )

# output thank you message
print( '*','\n*\t{}\n'.format(message),'*' )

# create a bottom border
print('*' * 50)

**************************************************
* 		Coding Temple, Inc. 		*
* 		283 Franklin St. 		*
* 		Boston, MA 			*
==================================================
* 	Product Name	Product Price 		*
* 	Books		$49.95 			*
* 	Computer	$579.99 		*
* 	Monitor		$124.89 		*
==================================================
* 			Total 			*
* 			$754.83 		*
==================================================
*
*	Thanks for shopping with us today!
 *
**************************************************

In [60]:
# create a product and price for three items
p1_name, p1_price = 'Books', 49.95
p2_name, p2_price = 'Computer', 579.99
p3_name, p3_price = 'Monitor', 124.89

# create a company name and information
company_name = 'coding temple, inc.'
company_address = '283 Franklin St.'
company_city = 'Boston, MA'

# declare ending message
message = 'Thanks for shopping with us today!'

# create a top border
print('*' * 49)

# print company information first, using format
print( '*','\t\t{}'.format( company_name.title() ),'\t\t*')
print( '*','\t\t{}'.format(company_address),'\t\t*' )
print( '*','\t\t{}'.format(company_city),'\t\t\t*' )

# print a line between sections
print( '=' * 49 )

# print out header for section of items
print('*','\tProduct Name\tProduct Price','\t\t*')

# create a print statement for each product
print( '*','\t{}\t\t${}'.format(p1_name.title(), p1_price),'\t\t\t*' )
print( '*','\t{}\t${}'.format(p2_name.title(), p2_price),'\t\t*' )
print( '*','\t{}\t\t${}'.format(p3_name.title(), p3_price),'\t\t*' )

# print a line between sections
print('=' * 49)

# print out header for section of total
print('*','\t\t\tTotal','\t\t\t*')

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( '*','\t\t\t${}'.format(total),'\t\t*' )

# print a line between sections
print( '=' * 49 )

# output thank you message
print( '*','\t\t\t\t\t\t*\n*\t{}\t*\n*\t\t\t\t\t\t*'.format(message) )

# create a bottom border
print('*' * 49)

*************************************************
* 		Coding Temple, Inc. 		*
* 		283 Franklin St. 		*
* 		Boston, MA 			*
=================================================
* 	Product Name	Product Price 		*
* 	Books		$49.95 			*
* 	Computer	$579.99 		*
* 	Monitor		$124.89 		*
=================================================
* 			Total 			*
* 			$754.83 		*
=================================================
* 						*
*	Thanks for shopping with us today!	*
*						*
*************************************************

In [63]:
word = 'Hello'
print( word,[4 : 3 : 2 : 1 : 0] )

SyntaxError: invalid syntax (3598556927.py, line 2)

In [65]:
word = 'Hello'
print( word[ 4 : 3 : 2 : 1 : 0 ] )

SyntaxError: invalid syntax (2325505365.py, line 2)

In [66]:
word = 'Hello'
print( word[ 4 : 3 : 2 : 1 ] )

SyntaxError: invalid syntax (3041447432.py, line 2)

In [68]:
word = 'Hello'
print( word[ 4 : 5 : 1 ] )

o

In [69]:
word = 'Hello'
print( word[ 4 : 4 : 1 ] )

In [70]:
word = 'Hello'
print( word[ 4 : 3 : 1 ] )

In [71]:
word = 'Hello'
print( word[ 4 : 5 : 2 ] )

o

In [72]:
word = 'Hello'
print( word[ 3 : 5 : 2 ] )

l

In [73]:
word = 'Hello'
print( word[ 4 : 1 ] )

In [74]:
word = 'Hello'
print( word[ 4 : 5 : 4 ] )

o

In [75]:
word = 'Hello'
print( word[ -1 : 5 : 4 ] )

o

In [76]:
word = 'Hello'
print( word[ -1 : -5 : -5 ] )

o

In [77]:
word = 'Hello'
print( word[ -1 : -5 : -1 ] )

olle

In [78]:
word = 'Hello'
print( word[ -1 : -5 : 0 ] )

ValueError: slice step cannot be zero

In [79]:
word = 'Hello'
print( word[ -2 : -5 : -1 ] )

lle

In [80]:
word = ' Hello'
print( word[ -1 : -6 : -1 ] )

olleH

In [81]:
word = 'Hello' [::-1]
print(word)

olleH

In [82]:
word = ' Hello'
print( word[ 0 : 2 ] )

 H

In [83]:
word = ' Hello'
print( word[ 0 : 3 ] )

 He

In [84]:
word = 'Hello'
print( word[ 0 : 3 ] )

Hel

In [85]:
word = 'Hello'
print( word[ 0 :] )

Hello

In [86]:
word = 'Hello'
print( word[:5] )

Hello

In [87]:
word = 'Hello'
print( word[:4] )

Hell

In [91]:
word = 'Hello'
print( word[0:4:4] )

H